<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commentary Table</title>
    <link href="../static/css/input.css" rel="stylesheet" th:href="@{/css/input.css}"/>

</head>
<body>
<form action="/addCommentary" method="post">
    <fieldset>
        <label class="control-label" for="author">Author</label>
        <input autofocus="autofocus" class="form-control" id="author"
               maxlength="20"
               name="author"
               required="true" th:value="${#httpServletRequest.getParameter('author')}" type="text"/>
    </fieldset>
    <br>

    <fieldset>
        <label class="control-label" for="content">Content</label>
        <textarea autofocus="autofocus" class="form-control" id="content" maxlength="255"
                  name="content"
                  required="true" rows="25" th:height="500" th:value="${#httpServletRequest.getParameter('content')}"
                  type="text"></textarea>
    </fieldset>
    <br/>

    <button class="btn btn-default" id="submit" type="submit">Create commentary</button>
</form>
</body>
</html>





