<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Own page</title>
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>

<div>
    <header class="masthead">
        <p class="masthead-intro">Kedar Joyner</p>
        <h1 class="masthead-heading">UX/UI Designer</h1>
    </header>
    <section class="introduction-section">
        <div class="container">
            <h1>Introduction</h1>
            <p>Hello! My name is Kedar, rhymes with cheddar, and I'm a <strong>photographer</strong> and <strong>front
                end dev</strong> intern at <a href="http://dirigiblestudio.com/">Dirigible Studio</a> here in Madison,
                Wisco.
            <p/>

            <p>I think it's important to help make the internet a <strong>beautiful place</strong>, whether that be
                through words, photography, or web design, and I'm excited to have found a community at <a
                        href="https://www.thinkful.com/">Thinkful</a> that shares my belief.</p>

            <p>I also think it's important to push yourself and <strong>learn</strong> one new thing every day, no
                matter what that may be. Did you know a duel between three people is called a <a
                        href="http://www.futilitycloset.com/wp-content/uploads/2010/12/2010-12-16-truel.jpg">truel?</a>
            </p>
        </div>
    </section>

    <section class="location-section">
        <div class="container">
            <h1>Where I'm From</h1>
            <p>I call <a
                    href="https://upload.wikimedia.org/wikipedia/commons/2/2a/1855_Colton_Map_of_Wisconsin_-_Geographicus_-_Wisconsin-colton-1855.jpg">Madison,
                Wisconsin</a> my home, the land of dairy (Get outta here, California!). My favorite part about <b>Madison</b>
                is that we're a city built around a large <a href="http://www.wisc.edu/">university</a>. There's a
                vibrant crowd here that keeps this city bold and <strong>progressive</strong>.

                The isles of <a
                        href="http://www.quickmeme.com/img/50/50507a001a1b91078f63c8da7f340e9a529c7f22a65d0666ce1128bde8513d42.jpg">cheese</a>
                in every grocery store aren't so bad either.

            <p>You can find me in the city, <strong>camera</strong> in hand, documenting the stories around me, or in
                little cafe's writing about my daily <a href="http://www.kedarjoyner.com/blog/">adventures</a> and the
                people I meet.</p>
        </div>
    </section>

    <section class="questions-section">
        <div class="container">
            <h1>More About Me</h1>
            <h2>What are your favorite hobbies?</h2>
            <h2>I love to explore new cities, take photographs, eat tacos, catnap with my cat, bike to big lakes, hold
                hands, play video games, dance in hay lofts, spend weekends with my grandpa, drink good <a
                        href="http://www.proof66.com/whiskey/eagle-rare-10yr-bourbon.html">whiskey</a>, and sit outside
                all night on porches.</h2>

            <h2>What's your dream job?</h2>
            <p>A professional turtle racer. Just kidding, I would love to be a full-time <strong>creative</strong> who's
                given an array of responsibilities in front-end work, photography, design, and whatever else comes my
                way.</p>

            <h2>What music have you been listening to lately?</h2>
            <p>My husband and I recently roadtripped through Arizona listening to the band <a
                    href="http://houndmouth.com/">Houdmouth</a>. I don't know what it is about them, but they make you
                want to keep driving and driving. Start with the song <a
                        href="https://www.youtube.com/watch?v=Y8wifV5RYr8">"Sedona"</a> first.</p>
        </div>
    </section>
</div>

<div th:switch="${#lists.size(Commentaries)}">
    <h2 th:case="0">No Commentaries yet!</h2>
    <div th:case="*">
        <table style="table-layout: fixed; width: 100%">
            <caption>Commentaries</caption>
            <thead>
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Content</th>
                <!--<th scope="col"></th>
                <th scope="col"></th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="commentary : ${Commentaries}">
                <td class="author-d" th:text="${commentary.author}"></td>
                <td th:text="${commentary.content}"></td>
                <!--<td><button class="button-one"><a th:href="@{/update/{id}(id=${commentary.id})}">Edit commentary</a></button></td>
                <td><button class="button-one"><a th:href="@{/delete/{id}(id=${commentary.id})}">Delete commentary</a></button></td>-->
            </tr>
            </tbody>
        </table>
    </div>

    <p>
        <button class="button-one">
            <a href="/addCommentary">Add a new commentary</a>
        </button>
    </p>
</div>

</body>
</html>