<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update commentary</title>
    <link th:href="@{/css/input.css}" rel="stylesheet" />
</head>
<body>
    <div class="input-group">
        <form action="#"
              th:action="@{/update/{id}(id=${commentary.id})}"
              th:object="${commentary}"
              method="post">

            <input value="" class="form-control" type="text" th:field="*{author}" id="author" name="author" placeholder="Author">
            <label for="author">Author</label>
            <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>

            <div class="req-mark">Update commentary</div>
        </form>
    </div>
</body>
</html>